{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<section class="bg-[#bed5ff] h-[506px]">
    <div class=" mx-auto text-center flex justify-center items-center lg:w-[1700px]">
        <p class="text-my-blue text-8xl font-bold mt-52">G-EAGLE DESIGN</p>
    </div>
</section>


<section class="">
    <div class="mx-auto text-center lg:w-[1700px]">
        <p class="text-4xl font-bold text-my-blue mt-28 mb-4">以策略为先导，深入品牌研究，让标准清晰可见</p>
        <p class="text-xl mb-2 mt-12">金鹰品创以策略思维为先导，深度挖掘品牌核心价值，以品牌塑造赋能，用美学创造价值，创作差异化视觉符号，着手创造品牌造势空间。</p>
        <p class="text-xl mb-2">北京金鹰文创科技有限公司已由电气之设计工作室发展成为专注品牌规划的策略型设计公司。</p>
        <p class="text-xl mb-2">公司汇聚品牌策划、文案写作、视觉设计等多名资深专业人才，从策略分析到视觉设计，再到印刷制作，会议活动策划与会场布置等，</p>
        <p class="text-xl mb-2">产城务实地为客户提供专业化的视觉设计全流程服务，始终以提升品牌价值为目标。</p>
    </div>
</section>


<section class="">
    <div class="mx-auto lg:w-[1700px] mt-28">
        <img src="{% static 'images/about_row_3d.png' %}" alt="3D文字效果" class="w-full">
    </div>
</section>

<section class="">
    <div class="mx-auto text-center lg:w-[1700px]">
        <p class="text-3xl font-bold text-my-blue mb-4 mt-28">创变时代，以创新思维，为企业提供可持续发展的源动力</p>
        <p class="text-xl mt-12 mb-2">金鹰品创以策略思维为先导，深度挖掘品牌核心价值，以品牌塑造赋能，用美学创造价值，创作差异化视觉符号，着手创造品牌造势空间。</p>
        <p class="text-xl mb-2">北京金鹰文创科技有限公司已由电气之设计工作室发展成为专注品牌规划的策略型设计公司。</p>
        <p class="text-xl mb-4">公司汇聚品牌策划、文案写作、视觉设计等多名资深专业人才，从策略分析到视觉设计，再到印刷制作，会议活动策划与会场布置等，</p>
        <p class="mb-2">产城务实地为客户提供专业化的视觉设计全流程服务，始终以提升品牌价值为目标。
        </p>
    </div>
</section>

<section class="">
    <div class="mx-auto flex flex-wrap gap-2 lg:w-[1700px] mt-28">
        <div class="card card-compact w-[530px] h-[430px] rounded-none relative">
            <img src="{% static 'images/about_row_1_0.png' %}" alt="Shoes" class="w-full h-[247px]" />
            <div
                class="card-body bg-my-gold w-full h-[183px] hover:h-[230px] hover:text-my-blue transition-height duration-300 absolute bottom-0 left-0">
                <p class="card-title mt-4 text-2xl">品牌策略制定</p>
                <p class="mt-2 text-my-black">助让传播更明确, 更高效!</p>
                <p class="text-my-black">针对企业不同诉求，洞察核心价值与现状，提供有效解决方案；</p>
                <p class="text-my-black">发现市场竞争机会，助力企业塑造品牌竞争力与价值增长。</p>
            </div>
        </div>
        <div class="card card-compact w-[530px] h-[430px] rounded-none relative">
            <img src="{% static 'images/about_row_1_1.png' %}" alt="Shoes" class="w-full h-[247px]" />
            <div
                class="card-body bg-my-gold w-full h-[183px] hover:h-[230px] hover:text-my-blue transition-height duration-300 absolute bottom-0 left-0">
                <p class="card-title mt-4 text-2xl">品牌价值激活</p>
                <p class="mt-2 text-my-black">坚持从品牌内核出发，优化其核心诉求，</p>
                <p class="text-my-black">讲故事，树形象，推动品牌价值长效可持续性发展；</p>
                <p class="text-my-black">创作不同，塑造个性化品牌调性，设计独特统一视觉形象；</p>
            </div>
        </div>

        <div class="card card-compact w-[530px] h-[430px] rounded-none relative">
            <img src="{% static 'images/about_row_1_2.png' %}" alt="Shoes" class="w-full h-[247px]" />
            <div
                class="card-body bg-my-gold  w-full h-[183px] hover:h-[230px] hover:text-my-blue transition-height duration-300 absolute bottom-0 left-0">
                <p class="card-title mt-4 text-2xl">创新视觉体验</p>
                <p class="mt-2 text-my-black">10余年专业创新设计及跨领域实战经验，</p>
                <p class="text-my-black">艺术与美学研究，个性化品牌视觉符号的创作能力，</p>
                <p class="text-my-black">可落地的执行策略，领先的印刷设备及会场筹划布置能力。</p>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class=" mx-auto lg:w-[1700px] mt-32">
        <h2 class="text-3xl font-bold text-center text-my-blue mb-4">专注于精品品牌策划、企业视觉形象整合服务</h2>
        <p class="text-center mt-10 mb-2">高品质宣传册，仍然是近距离交流且高效的营销工具，通过语言艺术、以差异化定位策略，独特的视觉设计，</p>
        <p class="text-center mb-2">基于竞争，做到不同，持续有效提升品牌价值；专注于为企业提供品牌成长策略, 文案策划, 视觉创意, 画册设计,印刷制作等视觉一体化解决方案.</p>

    </div>
    <div class="lg:w-[1700px] mx-auto grid grid-cols-2 md:grid-cols-5 gap-20 mt-20">
        <div class="card card-compact  w-[256px] h-[336px] border rounded-none">
            <div class="card-body p-0 ">
                <div class="bg-white p-4 h-2/3">
                    <p class="text-sm">需求与效果分析</p>
                    <p class="text-sm">目标受众定位</p>
                    <p class="text-sm">差异化定位</p>
                    <p class="text-sm">主题定位提炼</p>
                    <p class="text-sm">框架分析与规划</p>
                </div>
                <div class="border-t"></div>
                <div class="p-4 text-my-blue text-xl h-1/3">
                    <h4 class="font-bold">Strategy</h4>
                    <p class="font-bold">策略</p>
                </div>
            </div>
        </div>

        <div class="card card-compact  w-[256px] h-[336px] border rounded-none">
            <div class="card-body p-0">
                <div class="p-4 h-2/3">
                    <p class="text-sm">文案创作</p>
                    <p class="text-sm">品牌故事</p>
                    <p class="text-sm">广告语创作</p>
                    <p class="text-sm">内容策划</p>
                    <p class="text-sm">文字编辑</p>
                </div>
                <div class="border-t"></div>
                <div class="p-4 text-my-blue text-xl h-1/3">
                    <h4 class="font-bold">Copywriter</h4>
                    <p class="font-bold">文案</p>
                </div>
            </div>
        </div>

        <div class="card card-compact  w-[256px] h-[336px] border rounded-none">

            <div class="card-body p-0">
                <div class="bg-white p-4 h-2/3">
                    <p class="text-sm">项目对接</p>
                    <p class="text-sm">进度管理</p>
                    <p class="text-sm">资源整合</p>
                    <p class="text-sm">沟通协调</p>
                    <p class="text-sm">效果反馈</p>
                </div>
                <div class="border-t border-gray-200"></div>
                <div class="p-4 text-my-blue text-xl h-1/3">
                    <h4 class="font-bold">Cooperation</h4>
                    <p class="font-bold">合作</p>
                </div>
            </div>
        </div>

        <div class="card card-compact  w-[256px] h-[336px] border rounded-none">
            <div class="card-body p-0">
                <div class="bg-white p-4 h-2/3">
                    <p class="text-sm">创意设计</p>
                    <p class="text-sm">版式布局</p>
                    <p class="text-sm">视觉优化</p>
                    <p class="text-sm">图片处理</p>
                    <p class="text-sm">效果呈现</p>
                </div>
                <div class="border-t border-gray-200"></div>
                <div class="p-4 text-my-blue text-xl h-1/3">
                    <h4 class="font-bold ">Design</h4>
                    <p class="font-bold">设计</p>
                </div>
            </div>
        </div>


        <div class="card card-compact  w-[256px] h-[336px] border rounded-none">

            <div class="card-body p-0">
                <div class="bg-white p-4 h-2/3">
                    <p class="text-sm">材质选择</p>
                    <p class="text-sm">工艺建议</p>
                    <p class="text-sm">品质把控</p>
                    <p class="text-sm">现场监制</p>
                    <p class="text-sm">成品验收</p>
                </div>
                <div class="border-t border-gray-200"></div>
                <div class="bg-white p-4 text-xl text-my-blue h-1/3">
                    <h4 class="font-bold">Printing</h4>
                    <p class="font-bold">印刷</p>
                </div>
            </div>
        </div>

    </div>

</section>


{% include "home/home_connect.html"%}

<section class="">
    <div class=" mx-auto lg:w-[1700px] mt-28">
        <p class="text-3xl font-bold text-center text-my-blue">立志做行业标杆，完美保障落地执行</p>
        <p class="text-center mt-16">远景：做细分领域最受尊重的策略性设计公司</p>
        <p class="text-center mt-8">使命：专注为客户挖掘品牌价值、打造品牌独特视觉体系。</p>
        <p class="text-center mt-8">价值：以策略为先导，深挖文化内涵，用美学塑价值，</p>
    </div>
</section>

<section class="">
    <div class="mx-auto h-[565px] flex justify-center items-center lg:w-[1700px] mt-28">
        {% image page.team_image original as img %}
        <img src="{{ img.url }}" class="w-full h-full">
    </div>
</section>


<section class="bg-[#f2f2f4] mt-9">
    <div class=" mx-auto px-4 lg:w-[1700px]">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mb-12  h-[326px] flex justify-center items-center">
            <div class="text-center">
                <div class="text-[3.99rem] font-bold text-my-blue">15+</div>
                <p class="text-gray-600">服务年限</p>
            </div>
            <div class="text-center">
                <div class="text-3xl font-bold text-my-blue">30+</div>
                <p class="text-gray-600">专业服务团队</p>
            </div>
            <div class="text-center">
                <div class="text-3xl font-bold text-my-blue">300+</div>
                <p class="text-gray-600">服务客户</p>
            </div>
            <div class="text-center">
                <div class="text-3xl font-bold text-my-blue">1000+</div>
                <p class="text-gray-600">成功案例</p>
            </div>
        </div>

    </div>
</section>

<section class="">
    <div class="mx-auto px-4 lg:w-[1700px]">
        <div class="grid grid-cols-3 md:grid-cols-7 gap-7 mt-9">
            {% for logo in logos %}
            <div class="w-[215px] h-[93px]">
                {% image logo.image original as img %}
                <img src="{{ img.url }}" alt="{{ img.alt }}" class="w-full h-full">
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% include "home/cases_carousel.html" %}

{% endblock content %}
