{% extends "base.html" %}

{% load static %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<section class="bg-[#bed5ff] py-8">
    <div class="container mx-auto text-center h-96 flex justify-center items-center">
        <h1 class="text-[#1a237e] text-8xl font-bold mb-8">G-EAGLE DESIGN</h1>
    </div>
</section>


<!-- 头部标语部分 -->
<section class="py-16">
    <div class="container mx-auto text-center">
        <p class="text-4xl font-bold text-blue-900 mb-4">以策略为先导，深入品牌研究，让标准清晰可见</p>
        <p class="">金鹰品创以策略思维为先导，深度挖掘品牌核心价值，以品牌塑造赋能，用美学创造价值，创作差异化视觉符号，着手创造品牌造势空间。</p>
        <p class="pt-2">北京金鹰文创科技有限公司已由电气之设计工作室发展成为专注品牌规划的策略型设计公司。</p>
        <p class="pt-4">公司汇聚品牌策划、文案写作、视觉设计等多名资深专业人才，从策略分析到视觉设计，再到印刷制作，会议活动策划与会场布置等，</p>
        <p class="pt-2">产城务实地为客户提供专业化的视觉设计全流程服务，始终以提升品牌价值为目标。
        </p>
    </div>
</section>


<!-- 3D文字展示部分 -->
<section class="py-16">
    <div class="container mx-auto">
        <img src="{% static 'images/about_row_3d.png' %}" alt="3D文字效果" class="w-full">
    </div>
</section>

<section class="py-16">
    <div class="container mx-auto text-center">
        <p class="text-4xl font-bold text-blue-900 mb-4">创变时代，以创新思维，为企业提供可持续发展的源动力</p>
        <p class="">金鹰品创以策略思维为先导，深度挖掘品牌核心价值，以品牌塑造赋能，用美学创造价值，创作差异化视觉符号，着手创造品牌造势空间。</p>
        <p class="pt-2">北京金鹰文创科技有限公司已由电气之设计工作室发展成为专注品牌规划的策略型设计公司。</p>
        <p class="pt-4">公司汇聚品牌策划、文案写作、视觉设计等多名资深专业人才，从策略分析到视觉设计，再到印刷制作，会议活动策划与会场布置等，</p>
        <p class="pt-2">产城务实地为客户提供专业化的视觉设计全流程服务，始终以提升品牌价值为目标。
        </p>
    </div>
</section>

<!-- 服务特点部分 -->
<section class="py-16">
    <div class="container mx-auto flex flex-wrap justify-center items-center">
        <div class="w-full sm:w-1/3 p-2">
            <div class="card card-compact bg-base-100 w-full shadow-xl rounded-none">
                <figure>
                    <img src="{% static 'images/about_row_1_0.png' %}" alt="Shoes" />
                </figure>
                <div class="card-body bg-[#f0d1c6]">
                    <h2 class="card-title">品牌策略制定</h2>
                    <p>助让传播更明确, 更高效!</p>
                    <p>针对企业不同诉求，洞察核心价值与现状，提供有效解决方案；</p>
                    <p>发现市场竞争机会，助力企业塑造品牌竞争力与价值增长。</p>

                </div>
            </div>
        </div>
        <div class="w-full sm:w-1/3 p-2">
            <div class="card card-compact bg-base-100 w-full shadow-xl rounded-none">
                <figure>
                    <img src="{% static 'images/about_row_1_1.png' %}" alt="Shoes" />
                </figure>
                <div class="card-body bg-[#f0d1c6]">
                    <h2 class="card-title">品牌价值激活</h2>
                    <p>坚持从品牌内核出发，优化其核心诉求，</p>
                    <p>讲故事，树形象，推动品牌价值长效可持续性发展；</p>
                    <p>创作不同，塑造个性化品牌调性，设计独特统一视觉形象；</p>
                </div>
            </div>
        </div>

        <div class="w-full sm:w-1/3 p-2">
            <div class="card card-compact bg-base-100 w-full h-full shadow-xl rounded-none">
                <figure>
                    <img src="{% static 'images/about_row_1_2.png' %}" alt="Shoes" />
                </figure>
                <div class="card-body bg-[#f0d1c6]">
                    <h2 class="card-title">创新视觉体验</h2>
                    <p>10余年专业创新设计及跨领域实战经验，</p>
                    <p>艺术与美学研究，个性化品牌视觉符号的创作能力，</p>
                    <p>可落地的执行策略，领先的印刷设备及会场筹划布置能力。</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-16">
    <div class="container mx-auto">
        <h2 class="text-3xl font-bold text-center text-[#08117e]">专注于精品品牌策划、企业视觉形象整合服务</h2>
        <p class="text-center">高品质宣传册，仍然是近距离交流且高效的营销工具，通过语言艺术、以差异化定位策略，独特的视觉设计，</p>
        <p class="text-center">基于竞争，做到不同，持续有效提升品牌价值；专注于为企业提供品牌成长策略, 文案策划, 视觉创意, 画册设计,印刷制作等视觉一体化解决方案.</p>

    </div>
    <div class="container mx-auto grid grid-cols-2 md:grid-cols-5 px-4 pt-16">
        <div class="flex justify-center items-center">
            <div class="card bg-base-100 w-4/5 h-64 shadow-xl rounded-none">
                <div class="card-body p-0">
                    <div class="bg-white p-4 text-center">
                        <p class="text-sm">需求与效果分析</p>
                        <p class="text-sm">目标受众定位</p>
                        <p class="text-sm">差异化定位</p>
                        <p class="text-sm">主题定位提炼</p>
                        <p class="text-sm">框架分析与规划</p>
                    </div>
                    <div class="border-t border-gray-200"></div>
                    <div class="bg-white p-4 text-center  text-blue-900">
                        <h4 class="font-bold">Strategy</h4>
                        <p class="font-bold">策略</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-center items-center">
            <div class="card bg-base-100 w-4/5 h-64 shadow-xl rounded-none">
                <div class="card-body p-0">
                    <div class="bg-white p-4 text-center">
                        <p class="text-sm">文案创作</p>
                        <p class="text-sm">品牌故事</p>
                        <p class="text-sm">广告语创作</p>
                        <p class="text-sm">内容策划</p>
                        <p class="text-sm">文字编辑</p>
                    </div>
                    <div class="border-t border-gray-200"></div>
                    <div class="bg-white p-4 text-center  text-blue-900">
                        <h4 class="font-bold">Copywriter</h4>
                        <p class="font-bold">文案</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-center items-center">
            <div class="card bg-base-100 w-4/5 h-64 shadow-xl rounded-none">
                <div class="card-body p-0">
                    <div class="bg-white p-4 text-center">
                        <p class="text-sm">项目对接</p>
                        <p class="text-sm">进度管理</p>
                        <p class="text-sm">资源整合</p>
                        <p class="text-sm">沟通协调</p>
                        <p class="text-sm">效果反馈</p>
                    </div>
                    <div class="border-t border-gray-200"></div>
                    <div class="bg-white p-4 text-center  text-blue-900">
                        <h4 class="font-bold">Cooperation</h4>
                        <p class="font-bold">合作</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-center items-center">
            <div class="card bg-base-100 w-4/5 h-64 shadow-xl rounded-none">
                <div class="card-body p-0">
                    <div class="bg-white p-4 text-center">
                        <p class="text-sm">创意设计</p>
                        <p class="text-sm">版式布局</p>
                        <p class="text-sm">视觉优化</p>
                        <p class="text-sm">图片处理</p>
                        <p class="text-sm">效果呈现</p>
                    </div>
                    <div class="border-t border-gray-200"></div>
                    <div class="bg-white p-4 text-center  text-blue-900">
                        <h4 class="font-bold ">Design</h4>
                        <p class="font-bold">设计</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-center items-center">
            <div class="card bg-base-100 w-4/5 h-64 shadow-xl rounded-none">
                <div class="card-body p-0">
                    <div class="bg-white p-4 text-center">
                        <p class="text-sm">材质选择</p>
                        <p class="text-sm">工艺建议</p>
                        <p class="text-sm">品质把控</p>
                        <p class="text-sm">现场监制</p>
                        <p class="text-sm">成品验收</p>
                    </div>
                    <div class="border-t border-gray-200"></div>
                    <div class="bg-white p-4 text-center  text-blue-900">
                        <h4 class="font-bold">Printing</h4>
                        <p class="font-bold">印刷</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<section>
    <div class="container mx-auto grid grid-cols-1 lg:grid-cols-2 h-48">
        <div class="text-center pt-20">
            <p class="text-[#08117e] text-2xl font-bold">选择专业，让您更高效</p>
            <p class="text-gray-500 uppercase tracking-wider">CHOOSE A MAJOR TO MAKE YOU MORE EFFICIENT</p>
        </div>
        <div class="pt-20 hidden sm:block">
            <p class="text-gray-700 mb-2">制作高端宣传册，请致电：</p>
            <p class="text-red-600 text-2xl font-bold mb-2">
                010-6292 4170 1368 355 5200</p>
            <p class="text-gray-700">即可获得专业顾问支持,将会得到贵宾级礼遇</p>
        </div>
    </div>
</section>


<section class="py-16">
    <div class="container mx-auto">
        <h2 class="text-3xl font-bold text-center text-[#08117e]">立志做行业标杆，完美保障落地执行</h2>
        <p class="text-center pt-10 p-4">远景：做细分领域最受尊重的策略性设计公司</p>
        <p class="text-center p-4">使命：专注为客户挖掘品牌价值、打造品牌独特视觉体系。</p>
        <p class="text-center p-4">价值：以策略为先导，深挖文化内涵，用美学塑价值，</p>

    </div>
</section>

<section class="py-16">
    <div class="container mx-auto h-96 bg-[#f0d1c6]">
        <img>团队照片</img>
    </div>
</section>


<section class="py-16">
    <div class="container mx-auto px-4 bg-[#f2f2f4]">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mb-12  h-64 flex justify-center items-center">
            <div class="text-center">
                <div class="text-3xl font-bold text-blue-900">15+</div>
                <p class="text-gray-600">服务年限</p>
            </div>
            <div class="text-center">
                <div class="text-3xl font-bold text-blue-900">30+</div>
                <p class="text-gray-600">专业服务团队</p>
            </div>
            <div class="text-center">
                <div class="text-3xl font-bold text-blue-900">300+</div>
                <p class="text-gray-600">服务客户</p>
            </div>
            <div class="text-center">
                <div class="text-3xl font-bold text-blue-900">1000+</div>
                <p class="text-gray-600">成功案例</p>
            </div>
        </div>

    </div>
</section>

<section class="py-16">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-3 md:grid-cols-7 gap-4">
            {% for i in "123" %}
            <div class="bg-white p-4 flex items-center justify-center">
                <img src="{% static 'images/client-logo.svg' %}" alt="客户logo"
                    class="w-full grayscale hover:grayscale-0 transition-all">
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock content %}
