{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<!-- 主标题 -->
<section class="bg-[#bed5ff] py-8">
    <div class="container mx-auto text-center h-96 flex justify-center items-center">
        <h2 class="text-2xl font-semibold text-[#1d2668]">为客户创造可持续价值,让客户的利益最大化</h2>
    </div>
</section>

<!-- 项目描述信息 -->
<section class="container mx-auto px-4 py-8">
    <div class="mb-8">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div>
                <h3 class="text-lg font-bold mb-2">项目名称：</h3>
                <p>{{ page.title }}</p>
                <h3 class="text-lg font-bold mb-2 mt-4">所属行业：</h3>
                <p>{{ page.industry }}</p>
            </div>
            <div>
                <h3 class="text-lg font-bold mb-2">服务内容：</h3>
                <p>{{ page.describe }}</p>
                <div>
                    {{ page.body | richtext }}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 案例图片列表 -->
<div class="container mx-auto px-4">
    <div class="flex flex-col gap-8 mb-16">
        {% for image in page.images.all %}
        {% image image.image width-1200 as img %}
        <div class="w-full">
            <img src="{{ img.url }}" alt="{{ img.alt }}" class="w-full h-96 object-cover">
        </div>
        {% endfor %}
    </div>
</div>

<section class="bg-[#F2E5DE] py-12">
    <div class="container mx-auto text-center px-4 text-[#000080]">
        <p class="text-xl mb-4">每个梦想，我们都将竭力相助</p>
        <p class="text-xl mb-4">积极开展与具有百强企业合作，也全力协助新兴品牌崛起。</p>
        <div class="w-12 h-0.5 bg-gray-400 mx-auto my-4"></div>
        <p class="">1368 355 5200 / 010-62924170</p>
    </div>
</section>
{% endblock content %}
