{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}

<section class="bg-[#bed5ff] h-[506px]">
    <div class=" mx-auto text-center lg:w-[1700px] flex justify-center items-center">
        <h2 class="text-3xl font-semibold text-my-blue mt-64">为客户创造可持续价值,让客户的利益最大化</h2>
    </div>
</section>


<section class="mt-28">
    <div class="w-[1700px] mx-auto px-12">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="">
                <h3 class="text-lg font-bold mb-2">项目名称：</h3>
                <p>{{ page.title }}</p>
                <h3 class="text-lg font-bold mb-2 mt-4">所属行业：</h3>
                <p>{{ page.industry }}</p>
            </div>
            <div>
                <h3 class="text-lg font-bold mb-2">服务内容：</h3>
                <p>{{ page.describe }}</p>
                <div>
                    {{ page.body | richtext }}
                </div>
            </div>
        </div>
    </div>
</section>

<div class="mt-24">
    <div class="lg:w-[1700px] mx-auto grid grid-cols-1 gap-[6px]">
        {% for image in page.images.all %}
        {% image image.image original as img %}
        <div class="w-[1482px] h-[669px] mx-auto">
            <img src="{{ img.url }}" alt="{{ img.alt }}" class="w-full h-full rounded">
        </div>
        {% endfor %}
    </div>
</div>

{% include "home/cases_carousel.html" %}

<section class="bg-my-gold mt-4 h-[300px] hidden sm:block">
    <div class=" mx-auto lg:w-[1700px] text-center pt-20 text-my-blue">
        <p class="text-3xl mb-3">每个梦想，我们都将鼎力相助</p>
        <p class="text-3xl mb-3">积极开展与具有百强企业合作，也全力协助新兴品牌崛起。</p>
        <div class="w-12 h-0.5 bg-my-blue mx-auto my-4"></div>
        <p class="text-xl">1368 355 5200 / 010-62924170</p>
    </div>
</section>
{% endblock content %}
