{% extends "base.html" %}

{% load static %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<section class="bg-[#bed5ff] py-8">
    <div class="container mx-auto text-center h-96 flex justify-center items-center">
        <h1 class="text-[#1a237e] text-8xl font-bold mb-8">G-EAGLE DESIGN</h1>
    </div>
</section>

<section class="py-8">

    <div class="container mx-auto px-4">
        <div class="py-16">
            <p class="text-gray-700 mb-4">每个客户，我们都将倾力相助</p>
            <p class="text-gray-700 mb-4">积极开展与具有影响力的百强企业合作，也全力协助新兴品牌的崛起。</p>
            <p class="text-gray-700">我们用助每一个客户实现品牌梦想</p>
        </div>

    </div>
</section>

<section class="py-12">
    <div class="container mx-auto">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
            <div class="card bg-base-100 shadow rounded-none">
                <div class="card-body flex justify-center items-center flex-row">
                    <div class="btn btn-circle">❯</div>
                    <div class="divider divider-horizontal"></div>
                    <div class="justify-center items-center">
                        <p class="text-blue-900 truncate">数据合理</p>
                        <p class="text-blue-900 truncate">真实体验</p>
                    </div>
                </div>
            </div>
            <div class="card bg-base-100 shadow rounded-none">
                <div class="card-body flex justify-center items-center flex-row">
                    <div class="btn btn-circle">❯</div>
                    <div class="divider divider-horizontal"></div>
                    <div class="justify-center items-center">
                        <p class="text-blue-900 truncate">策略先行</p>
                        <p class="text-blue-900 truncate">视觉原创</p>
                    </div>
                </div>
            </div>
            <div class="card bg-base-100 shadow rounded-none">
                <div class="card-body flex justify-center items-center flex-row">
                    <div class="btn btn-circle">❯</div>
                    <div class="divider divider-horizontal"></div>
                    <div class="justify-center items-center">
                        <p class="text-blue-900 truncate">层层把关</p>
                        <p class="text-blue-900 truncate">满意为止</p>
                    </div>
                </div>
            </div>
            <div class="card bg-base-100 shadow rounded-none">
                <div class="card-body flex justify-center items-center flex-row">
                    <div class="btn btn-circle">❯</div>
                    <div class="divider divider-horizontal"></div>
                    <div class="justify-center items-center">
                        <p class="text-blue-900 truncate">专业至上</p>
                        <p class="text-blue-900 truncate">精品交付</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-8">
    <div class="container mx-auto px-4 grid grid-cols-2 md:grid-cols-4 gap-8">
        <div class="text-sm">
            <p class="py-5 text-xl text-[#08117e]">开启您的品牌视觉体验</p>
            <p class="text-gray-600">
                以策略思维做设计，是我们的核心竞争优势，专注于高端各类画册设计、周年画册设计、产品宣传册设计，从核心概念提炼，结构策划、文案写作、设计独特的视觉形象及延展，拥有成熟的工作流程和一条龙专业化的服务实力
            </p>
        </div>
        <div class="text-sm">
            <p class="py-5 text-xl text-[#08117e]">金鹰策划总部</p>
            <p class=" font-semibold mb-4">北京海淀区西二旗北路龙域国际中心A座5层</p>
            <p class="font-semibold mb-4">
                5th floor, Building A, Longyu International Center, Xierqi North Road, Haidian</p>
            <p class="text-gray-600">TEL: +8610-6292 4170</p>
            <p class="text-gray-600">MOB: +86 185 1026 1800</p>
        </div>
        <div class="text-sm">
            <p class="py-5 text-xl text-[#08117e]">金鹰创意执行</p>
            <p class=" font-semibold mb-4">北京海淀区西二旗北路龙域国际中心A座5层</p>
            <p class="font-semibold mb-4">
                5th floor, Building A, Longyu International Center, Xierqi North Road, Haidian</p>
            <p class="text-gray-600">TEL: +8610-6292 4170</p>
            <p class="text-gray-600">MOB: +86 185 1026 1800</p>
        </div>
        <div class="text-sm">
            <p class="py-5 text-xl text-[#08117e]">金鹰品创广州</p>
            <p class=" font-semibold mb-4">北京海淀区西二旗北路龙域国际中心A座5层</p>
            <p class="font-semibold mb-4">
                5th floor, Building A, Longyu International Center, Xierqi North Road, Haidian</p>
            <p class="text-gray-600">TEL: +8610-6292 4170</p>
            <p class="text-gray-600">MOB: +86 185 1026 1800</p>
        </div>
    </div>
    </div>
</section>

<section class="py-8">
    <div class="container mx-auto px-4">
        <div class="mb-16">
            <iframe src="https://uri.amap.com/marker?position=116.39,39.91" class="w-full h-[450px] border-0"
                title="Location Map">
            </iframe>
        </div>
    </div>

</section>

<section class="py-16 bg-[#f2f2f4]">
    <div class="container mx-auto grid grid-cols-1 lg:grid-cols-2 h-48">
        <div class="text-center pt-20">
            <p class="text-[#08117e] text-2xl font-bold">选择专业，让您更高效</p>
            <p class="text-gray-500 uppercase tracking-wider">CHOOSE A MAJOR TO MAKE YOU MORE EFFICIENT</p>
        </div>
        <div class="pt-20 hidden sm:block">
            <p class="text-gray-700 mb-2">制作高端宣传册，请致电：</p>
            <p class="text-red-600 text-2xl font-bold mb-2">
                010-6292 4170 1368 355 5200</p>
            <p class="text-gray-700">即可获得专业顾问支持,将会得到贵宾级礼遇</p>
        </div>
    </div>
</section>

{% endblock content %}
