{% extends "base.html" %}

{% load static %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<section class="bg-[#bed5ff] h-[506px]">
    <div class=" mx-auto text-center flex justify-center items-center lg:w-[1700px]">
        <p class="text-my-blue text-8xl font-bold mt-52">G-EAGLE DESIGN</p>
    </div>
</section>


<section class="">
    <div class="mx-auto lg:w-[1700px]">
        <div class="mt-28 text-[#e6beb4]">
            <p class="text-3xl font-bold mb-4">每个客户，我们都将倾力相助</p>
            <p class="text-3xl font-bold mb-4">积极开展与具有影响力的百强企业合作，也全力协助新兴品牌的崛起。</p>
        </div>
    </div>
</section>


{% include "home/home_card_0.html"%}

<section class="">
    <div class="lg:w-[1700px] mx-auto mt-10 grid grid-cols-2 md:grid-cols-4 gap-8">
        <div class="text-sm">
            <p class="py-5 text-my-blue font-bold text-[1.499rem]">开启您的品牌视觉体验</p>
            <p class="w-11/12">
                以策略思维做设计，是我们的核心竞争优势，专注于高端各类画册设计、周年画册设计、产品宣传册设计，从核心概念提炼，结构策划、文案写作、设计独特的视觉形象及延展，拥有成熟的工作流程和一条龙专业化的服务实力
            </p>
        </div>
        <div class="text-sm">
            <p class="py-5 font-bold text-[1.499rem] text-my-blue">金鹰策划总部</p>
            <p class="font-semibold mb-4">北京海淀区西二旗北路龙域国际中心A座5层</p>
            <p class="font-semibold mb-4">
                5th floor, Building A, Longyu International Center, Xierqi North Road, Haidian</p>
            <p class="">TEL: +8610-6292 4170</p>
            <p class="">MOB: +86 185 1026 1800</p>
        </div>
        <div class="text-sm">
            <p class="py-5 font-bold text-[1.499rem] text-my-blue">金鹰创意执行</p>
            <p class=" font-semibold mb-4">北京海淀区西二旗北路龙域国际中心A座5层</p>
            <p class="font-semibold mb-4">
                5th floor, Building A, Longyu International Center, Xierqi North Road, Haidian</p>
            <p class="">TEL: +8610-6292 4170</p>
            <p class="">MOB: +86 185 1026 1800</p>
        </div>
        <div class="text-sm">
            <p class="py-5 font-bold text-[1.499rem] text-my-blue">金鹰品创广州</p>
            <p class=" font-semibold mb-4">北京海淀区西二旗北路龙域国际中心A座5层</p>
            <p class="font-semibold mb-4">
                5th floor, Building A, Longyu International Center, Xierqi North Road, Haidian</p>
            <p class="">TEL: +8610-6292 4170</p>
            <p class="">MOB: +86 185 1026 1800</p>
        </div>
    </div>
    </div>
</section>

<section class="">
    <div class="mx-auto lg:w-[1700px]">
        <div class="mt-11">
            <iframe src="https://uri.amap.com/marker?position=116.39,39.91" class="w-full h-[844px] border-0 rounded"
                title="Location Map">
            </iframe>
        </div>
    </div>

</section>

{% include "home/cases_carousel.html" %}

{% include "home/home_connect.html"%}

{% endblock content %}
