{% extends "base.html" %}

{% load static %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

{% load wagtailimages_tags %}

<section class="py-6 bg-[#fdbb01]">
    <div class="carousel w-full h-96 hidden sm:block">
        <div id="slide1" class="carousel-item relative w-full h-full">
            <div class="container mx-auto h-full relative">
                <div class="flex h-full justify-center items-center">
                    <div class="text-[#08117e] w-full md:w-2/3 px-4">
                        <p class="text-2xl md:text-3xl font-bold mb-4">以视觉创意提升品牌价值为己任</p>
                        <p class="mb-2">积极开展与百强企业的战略合作</p>
                        <p class="">也协助新兴品牌的崛起</p>
                    </div>
                </div>
            </div>
            <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
                <a href="#slide4"
                    class="btn btn-circle opacity-50 hover:opacity-100 transition-opacity duration-300">❮</a>
                <a href="#slide2"
                    class="btn btn-circle opacity-50 hover:opacity-100 transition-opacity duration-300">❯</a>
            </div>
        </div>
    </div>
    {% include "home/home_carousel_sm.html" %}

    <div class="container mx-auto hidden md:grid grid-cols-4 h-32">
        <div class="text-white bg-[#fdbb01] flex flex-col justify-center px-6">
            <p class="text-xl font-bold">服务内容</p>
            <div class="flex items-center">
                <p>OUR SERVICES</p>
                <svg class="w-6 h-6 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </div>
        </div>
        <div
            class="bg-[#f0d1c6] text-[#08117e] px-6 py-4 hover:bg-[#e8bdb2] transition-colors duration-300 cursor-pointer relative">
            <h3 class="font-bold mb-2">周年纪念册设计</h3>
            <p class="text-sm">周年庆纪念册</p>
            <p class="text-sm">人物纪念册</p>
            <p class="text-sm">项目竣工/历程纪念册</p>
            <div class="absolute bottom-2 right-2 flex items-center">
                <svg class="w-24 h-3" viewBox="0 0 96 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 6H90M90 6L86 2" stroke="currentColor" stroke-width="1" stroke-linecap="round" />
                </svg>
            </div>
        </div>
        <div
            class="bg-[#0a117e] text-[#e8bdb2] px-6 py-4 hover:bg-[#08117e] transition-colors duration-300 cursor-pointer relative">
            <h3 class="font-bold mb-2">会议活动策划设计</h3>
            <p class="text-sm">周年会议主视觉创意设计</p>
            <p class="text-sm">论坛\会议活动策划布置</p>
            <p class="text-sm">年会\活动\会议手册</p>
            <div class="absolute bottom-2 right-2 flex items-center">
                <svg class="w-24 h-3" viewBox="0 0 96 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 6H90M90 6L86 2" stroke="currentColor" stroke-width="1" stroke-linecap="round" />
                </svg>
            </div>
        </div>
        <div
            class="text-[#08117e] bg-[#f0d1c6] px-6 py-4 hover:bg-[#e8bdb2] transition-colors duration-300 cursor-pointer relative">
            <h3 class="font-bold mb-2">企业宣传册设计</h3>
            <p class="text-sm">集团\企业形象画册</p>
            <p class="text-sm">企业文化宣传手册</p>
            <p class="text-sm">产品宣传画册</p>
            <div class="absolute bottom-2 right-2 flex items-center">
                <svg class="w-24 h-3" viewBox="0 0 96 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 6H90M90 6L86 2" stroke="currentColor" stroke-width="1" stroke-linecap="round" />
                </svg>
            </div>
        </div>
    </div>

</section>

<section class="py-12">
    <div class="container mx-auto text-center">
        <h2 class="text-3xl font-bold text-blue-900 mb-4">金鹰品牌创 × 品牌策略 × 视觉设计 = 操盘大品牌</h2>
        <p class="text-xl mb-6">文案写作 + 画册设计 + 周年纪念册 + 会议活动 + 印刷制作</p>
        <div class="pt-4"></div>

        <p class="text-gray-700 text-base">以策略思维为先导，注重品牌长效发展，深度挖掘品牌核心价值，</p>
        <p class="text-gray-700 text-base">以品牌塑造灵魂，用美学创造价值，创作差异化视觉符号，持续创造品牌溢价空间；</p>
        <p class="text-gray-700 text-base">公司汇聚品牌策划、文案写作、视觉设计等多领域专业人才，从策略分析到视觉设计,再到印刷制作,为客户提供视觉设计全流程服务</p>
    </div>
</section>

<section class="py-12">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
            <div class="card bg-base-100 shadow-xl rounded-none">
                <div class="card-body flex  justify-center items-center flex-row">
                    <div class="mr-4 btn btn-circle">❯</div>
                    <div class="divider divider-horizontal"></div>
                    <div class="justify-center items-center">
                        <p class="text-blue-900 mb-1">数据合理</p>
                        <p class="text-blue-900">真实体验</p>
                    </div>
                </div>
            </div>
            <div class="card bg-base-100 shadow-xl rounded-none">
                <div class="card-body flex  justify-center items-center flex-row">
                    <div class="mr-4 btn btn-circle">❯</div>
                    <div class="divider divider-horizontal"></div>
                    <div class="justify-center items-center">
                        <p class="text-blue-900 mb-1">策略先行</p>
                        <p class="text-blue-900">视觉原创</p>
                    </div>
                </div>
            </div>
            <div class="card bg-base-100 shadow-xl rounded-none">
                <div class="card-body flex  justify-center items-center flex-row">
                    <div class="mr-4 btn btn-circle">❯</div>
                    <div class="divider divider-horizontal"></div>
                    <div class="justify-center items-center">
                        <p class="text-blue-900 mb-1">层层把关</p>
                        <p class="text-blue-900">满意为止</p>
                    </div>
                </div>
            </div>
            <div class="card bg-base-100 shadow-xl rounded-none">
                <div class="card-body flex  justify-center items-center flex-row">
                    <div class="mr-4 btn btn-circle">❯</div>
                    <div class="divider divider-horizontal"></div>
                    <div class="justify-center items-center">
                        <p class="text-blue-900 mb-1">专业至上</p>
                        <p class="text-blue-900">精品交付</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="my-8">

<section>
    <div class="container mx-auto">
        <p class="text-2xl font-bold mb-8 text-[#08117e]">金属品牌创意--国内领先的宣传策划与视觉设计公司</p>
        <div "flex p-1">
            <img src="{% static 'images/home_row_0.png' %}" class="w-full"></img>
        </div>
        <div class="flex gap-1 p-1">
            <img src="{% static 'images/home_row_1_0.png' %}" class="w-3/4"></img>
            <img src="{% static 'images/home_row_1_1.png' %}" class="w-1/4"></img>
        </div>
        <div class="flex gap-1 p-1">
            <img src="{% static 'images/home_row_2_0.png' %}" class="w-1/4"></img>
            <img src="{% static 'images/home_row_2_1.png' %}" class="w-3/4"></img>
        </div>
        <div class="flex gap-1 p-1">
            <img src="{% static 'images/home_row_3_0.png' %}" class="w-1/2"></img>
            <img src="{% static 'images/home_row_3_1.png' %}" class="w-1/2"></img>
        </div>
        <div class="flex gap-1 p-1">
            <img src="{% static 'images/home_row_4_0.png' %}" class="w-1/2"></img>
            <img src="{% static 'images/home_row_4_1.png' %}" class="w-1/2"></img>
        </div>
        <div class="flex gap-1 p-1">
            <img src="{% static 'images/home_row_5_0.png' %}" class="w-1/2"></img>
            <img src="{% static 'images/home_row_5_1.png' %}" class="w-1/2"></img>
        </div>
    </div>
</section>


<section class="bg-pink-200 py-8 bg-[#e9bbxa6] h-80 flex justify-center items-center">
    <div class="container mx-auto text-center text-[#1d2668]">
        <p class="mb-4 text-2xl font-bold">高端画册设计咨询: 1368 355 5200 / 010-62924170</p>
        <p class="">专注品牌文化价值创造, 赋能客户牌溢价空间</p>
    </div>
</section>


<section class="pt-20 pb-10">
    <div class="container mx-auto flex flex-row justify-center place-items-start">
        <div>
            <div class="border h-32 w-32 flex justify-center items-center flex-col font-semibold text-2xl">
                <p>文案</p>
                <p>策划</p>
            </div>
            <ul class="menu menu-compact">
                <li>诉求分析/评估</li>
                <li>品牌文化梳理</li>
                <li>品牌调性界定</li>
                <li>传播路径规划</li>
                <li>框架结构梳理</li>
                <li>核心诉求及思想提炼</li>
                <li>品牌故事策划</li>
                <li>系统性文案撰写</li>
            </ul>
        </div>
        <div class="flex justify-center items-center">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" style="width: 100px; height: 100px;">
                <circle cx="100" cy="100" r="60" fill="transparent" stroke="#919192" stroke-width="4" />
                <path d="M80 100 L120 100 M100 80 L120 100 L100 120" fill="none" stroke="#919192" stroke-width="4" />
            </svg>
        </div>
        <div>
            <div class="border h-32 w-32 flex justify-center items-center flex-col font-semibold text-2xl">
                <p>视觉</p>
                <p>创意</p>
            </div>
            <ul class="menu menu-compact">
                <li>LOGO元素分解与提炼</li>
                <li>主视觉元素创意</li>
                <li>辅助元素设计</li>
                <li>主视觉与辅助元素组合</li>
                <li>主视觉规范与统一</li>
                <li>主视觉延展性应用</li>
            </ul>
        </div>
        <div class="flex  justify-center items-center">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" style="width: 100px; height: 100px;">
                <circle cx="100" cy="100" r="60" fill="transparent" stroke="#919192" stroke-width="4" />
                <path d="M80 100 L120 100 M100 80 L120 100 L100 120" fill="none" stroke="#919192" stroke-width="4" />
            </svg>
        </div>
        <div>
            <div class="border h-32 w-32 flex justify-center items-center flex-col font-semibold text-2xl">
                <p>画册</p>
                <p>设计</p>
            </div>
            <ul class="menu menu-compact">
                <li>主视觉与四封创作与设计</li>
                <li>章节页面规划与统一</li>
                <li>历史大事记设计</li>
                <li>内页视觉延展设计与统一</li>
                <li>印刷工艺呈现与设计</li>
                <li>装帧形式设计</li>
            </ul>
        </div>
        <div class="flex  justify-center items-center">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" style="width: 100px; height: 100px;">
                <circle cx="100" cy="100" r="60" fill="transparent" stroke="#919192" stroke-width="4" />
                <path d="M80 100 L120 100 M100 80 L120 100 L100 120" fill="none" stroke="#919192" stroke-width="4" />
            </svg>
        </div>
        <div>
            <div class="border h-32 w-32 flex justify-center items-center flex-col font-semibold text-2xl">
                <p>会议</p>
                <p>主视觉</p>
            </div>
            <ul class="menu menu-compact">
                <li>会议活动策划</li>
                <li>会议主视觉创意与设计</li>
                <li>会议背景板设计</li>
                <li>会议物料延展设计</li>
                <li>会议手册设计</li>
                <li>会议胸牌/桌签设计</li>
                <li>会议展板/丽屏/海报设计</li>
                <li>会场搭建布置</li>
            </ul>
        </div>
        <div class="flex justify-center items-center">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" style="width: 100px; height: 100px;">
                <circle cx="100" cy="100" r="60" fill="transparent" stroke="#919192" stroke-width="4" />
                <path d="M80 100 L120 100 M100 80 L120 100 L100 120" fill="none" stroke="#919192" stroke-width="4" />
            </svg>
        </div>
        <div>
            <div class="border h-32 w-32 flex justify-center items-center flex-col font-semibold text-2xl">
                <p>印刷</p>
                <p>制作</p>
            </div>
            <ul class="menu menu-compact">
                <li>自有印刷厂及设备</li>
                <li>纪念册/宣传册印刷制作</li>
                <li>会议物料制作</li>
                <li>会议设备租赁</li>
                <li>文创产品策划定制</li>
                <li>企业纪念品定制</li>
                <li>包装设计制作</li>
            </ul>

        </div>
    </div>
</section>

<section class="pt-10">
    <div class="container mx-auto h-80 flex flex-col justify-center items-center text-center">
        <p class="text-3xl font-bold mb-8 text-[#08117e]">金鹰品牌--核心优势</p>
        <p class="text-lg text-gray-700">以策略为核心，以创新为本，专业化制作，降本增效，增强企业竞争实力</p>
    </div>
    <div class="container mx-auto flex flex-row gap-12 px-8">
        <div class="w-1/3">
            <div class="flex justify-center items-center flex-col font-bold text-2xl text-[#08117e] mb-8">
                <p>定策略</p>
                <p>讲故事</p>
            </div>
            <div class="text-center text-gray-700 leading-relaxed">
                <p>SWOT分析及定位策略研究，提炼品牌价值与内核，制定合理有效营销策略，挖掘品牌故事，形成系统诉求文案，提升品牌影响力度；</p>
            </div>
        </div>

        <div class="w-1/3">
            <div class="flex justify-center items-center flex-col font-bold text-2xl text-[#08117e] mb-8">
                <p>抓创意</p>
                <p>抓设计</p>
            </div>
            <div class="text-center text-gray-700 leading-relaxed">
                <p>研究品牌定位策略，创作个性化视觉符号，建立统一可持续发展的品牌形象。拥有专业的品牌设计全体系服务能力。</p>
            </div>
        </div>

        <div class="w-1/3">
            <div class="flex justify-center items-center flex-col font-bold text-2xl text-[#08117e] mb-8">
                <p>能印刷</p>
                <p>强执行</p>
            </div>
            <div class="text-center text-gray-700 leading-relaxed">
                <p>有效的落地是一个成为品牌的企业必备的前提。自有印刷厂及设备、同时拥有会议专用IED大屏、摄影等设备、专业会场布置能力。</p>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container mx-auto bg-[#f0d1c6] h-96">
        <p>团队照片</p>
    </div>
</section>

<section>
    <div class="container mx-auto grid grid-cols-2 h-48">
        <div class="text-center pt-20">
            <p class="text-[#08117e] text-2xl font-bold">选择专业，让您更高效</p>
            <p class="text-gray-500 uppercase tracking-wider">CHOOSE A MAJOR TO MAKE YOU MORE EFFICIENT</p>
        </div>
        <div class="flex flex-col justify-center pl-20">
            <p class="text-gray-700 mb-2">制作高端宣传册，请致电：</p>
            <p class="text-red-600 text-2xl font-bold mb-2">
                010-6292 4170 1368 355 5200</p>
            <p class="text-gray-700">即可获得专业顾问支持,将会得到贵宾级礼遇</p>
        </div>
    </div>
</section>

<section class="py-12">
    <div class="container mx-auto grid grid-cols-2 gap-8">
        <div class="text-center">
            <div class="bg-gray-100 h-64 mb-4">图片</div>
            <p class="text-gray-700">是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，

                念画册设计公司，企业画册基本上是每一公司都是会使用的宣传广告专用工具，承载着公司许多的期待。高质量高品质的画册能够提高企业品牌形象</p>
        </div>
        <div class="text-center">
            <div class="bg-gray-100 h-64 mb-4">图片</div>
            <p class="text-gray-700">金鹰品牌创意设计公司</p>
        </div>
    </div>
</section>

<section class="bg-[#f0d1c6] py-16">
    <div class="container mx-auto text-center text-[#1d2668]">
        <p class="mb-6 text-3xl font-bold">品牌形象的-创作者 客户价值的-构建者</p>
        <p class="text-xl">文字恋 色彩欲 追求独特 向往品质</p>
    </div>
</section>

{% endblock content %}
