<section class="py-16  bg-[#f2f2f4]">
    <div class="container mx-auto grid grid-cols-1 lg:grid-cols-2 h-48">
        <div class="text-center pt-20">
            <p class="text-my-blue text-2xl font-bold">选择专业，让您更高效</p>
            <p class="text-my-gold uppercase tracking-wider">CHOOSE A MAJOR TO</p>
            <p class="text-my-gold uppercase tracking-wider"> MAKE YOU MORE EFFICIENT</p>
        </div>
        <div class="pt-20 hidden sm:block">
            <p class="text-gray-700 mb-2">制作高端宣传册，请致电：</p>
            <p class="text-red-600 text-2xl font-bold mb-2">
                010-6292 4170 1368 355 5200</p>
            <p class="text-gray-700">即可获得专业顾问支持,将会得到贵宾级礼遇</p>
        </div>
    </div>
</section>
