{% load static wagtailcore_tags wagtailimages_tags %}


<a href="{% pageurl item %}" class="block h-full">
    {% for image in item.images.all %}
    {% if image.is_home %}
    {% image image.image original as img %}
    <img src="{{ img.url }}" alt="{{ img.alt }}" class="w-full h-full rounded">
    {% endif %}
    {% endfor %}
    <div
        class="case-item-body absolute inset-0 flex items-end justify-start bg-black bg-opacity-50 opacity-0 group-hover:opacity-100">
        <div class="case-item-text text-white text-left pl-[60px] pb-[50px] w-full">
            <p class="text-[1.49rem] font-puhui font-bold">{{ item.title }}</p>
            <p class="text-[1.16rem] font-puhui font-medium mt-[25px]">
                <span class="">所属行业:</span> {{ item.industry }}
            </p>
            <p class="text-[1.16rem] font-puhui font-medium mt-1">
                <span class="">服务内容:</span> {{ item.describe }}
            </p>
        </div>
    </div>
</a>
