<section class="lg:w-[1700px] mx-auto my-28">
    <div class="w-full mx-auto">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
            <div class="card bg-base-100 hover:bg-my-gold shadow rounded-none ">
                <div class="card-body flex justify-center items-center flex-row">
                    <div class="flex justify-center items-center w-2/5 h-[120px]">
                        {% include "home/right_arrow.html" %}
                    </div>
                    <div class="divider divider-horizontal h-[120px]"></div>
                    <div class="flex flex-col justify-center items-center w-2/5 h-[120px]">
                        <div>
                            <p class="text-my-blue truncate">收费合理</p>
                            <p class="text-my-blue truncate">贵宾体验</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-base-100 hover:bg-my-gold shadow rounded-none">
                <div class="card-body flex justify-center items-center flex-row">
                    <div class="flex justify-center items-center w-2/5 h-[120px]">
                        {% include "home/right_arrow.html" %}
                    </div>
                    <div class="divider divider-horizontal h-[120px]"></div>
                    <div class="flex flex-col justify-center items-center w-2/5 h-[120px]">
                        <div>
                            <p class="text-my-blue truncate">策略先行</p>
                            <p class="text-my-blue truncate">视觉原创</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-base-100 hover:bg-my-gold shadow rounded-none">
                <div class="card-body flex justify-center items-center flex-row">
                    <div class="flex justify-center items-center w-2/5 h-[120px]">
                        {% include "home/right_arrow.html" %}
                    </div>
                    <div class="divider divider-horizontal h-[120px]"></div>
                    <div class="flex flex-col justify-center items-center w-2/5 h-[120px]">
                        <div>
                            <p class="text-my-blue truncate">层层把关</p>
                            <p class="text-my-blue truncate">满意为止</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-base-100 hover:bg-my-gold shadow rounded-none">
                <div class="card-body flex justify-center items-center flex-row">
                    <div class="flex justify-center items-center w-2/5 h-[120px]">
                        {% include "home/right_arrow.html" %}
                    </div>
                    <div class="divider divider-horizontal h-[120px]"></div>
                    <div class="flex flex-col justify-center items-center w-2/5 h-[120px]">
                        <div>
                            <p class="text-my-blue truncate">专业至上</p>
                            <p class="text-my-blue truncate">精品交付</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
