<section class="my-[30px] bg-[#f2f2f4]">
    <div class="lg:w-[1700px] mx-auto grid grid-cols-1 lg:grid-cols-2 gap-2.5">
        <div class="text-center my-16">
            <p class="text-my-blue text-[2.91rem] font-puhui font-bold">选择专业，让您更高效</p>
            <p class="text-my-gold font-puhui font-light text-[2.49rem]">CHOOSE A MAJOR TO</p>
            <p class="text-my-gold font-puhui font-light text-[2.49rem]">MAKE YOU MORE EFFICIENT</p>
        </div>
        <div class="my-16">
            <p class="font-puhui font-medium text-[1.74rem] mb-2">制作高端宣传册，请致电：</p>
            <p class="text-red-600 text-[2.91rem] font-bold mb-2">
                {{ contact_us_page.tel }} / {{ contact_us_page.mobile }}
            </p>
            <p class="font-puhui text-[1.74rem]">即可获得专业顾问支持,将会得到贵宾级礼遇</p>
        </div>
    </div>
</section>
