{% load wagtailcore_tags %}

<div class="carousel w-full lg:hidden block">
    <div id="item1" class="carousel-item w-full">
        <div id="slide1" class="carousel-item relative w-full">
            <div class="container mx-auto h-full relative">
                <div class="flex h-full justify-center items-center">
                    <div class="text-[#08117e] w-full md:w-2/3 px-4">
                        <p class="text-2xl md:text-3xl font-bold mb-4">以视觉创意提升品牌价值为己任</p>
                        <p class="mb-2">积极开展与百强企业的战略合作</p>
                        <p class="">也协助新兴品牌的崛起</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex w-full justify-center gap-2 py-2">
        <a href="#item1" class="w-4 h-4 rounded-full bg-white"></a>
        <a href="#item2" class="w-4 h-4 rounded-full bg-white"></a>
        <a href="#item3" class="w-4 h-4 rounded-full bg-white"></a>
        <a href="#item4" class="w-4 h-4 rounded-full bg-white"></a>
    </div>
</div>
