<div class="container mx-auto lg:hidden block">
    <div class="grid grid-cols-6 gap-2 items-center">
        <div class="col-span-2">
            <div class="border h-32 w-32 flex justify-center items-center flex-col font-semibold text-2xl">
                <p>文案</p>
                <p>策划</p>
            </div>
        </div>
        <div class="flex justify-center items-center col-span-2">
            {% include "home/right_arrow.html" %}
        </div>
        <div class="col-span-2">
            <div class="border h-32 w-32 flex justify-center items-center flex-col font-semibold text-2xl">
                <p>视觉</p>
                <p>创意</p>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-6 gap-2 items-center">
        <div class="border h-32 w-32 flex justify-center items-center flex-col font-semibold text-2xl col-span-2">
            <p>画册</p>
            <p>设计</p>
        </div>

        <div class="flex justify-center items-center col-span-2">
            {% include "home/right_arrow.html" %}
        </div>
        <div class="border h-32 w-32 flex justify-center items-center flex-col font-semibold text-2xl col-span-2">
            <p>印刷</p>
            <p>制作</p>
        </div>
    </div>
</div>
