{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}

<section class="bg-[#bed5ff] py-8">
    <div class="container mx-auto text-center h-96 flex justify-center items-center lg:w-[1700px]">
        <h1 class="text-[#1a237e] text-8xl font-bold mb-8">G-EAGLE DESIGN</h1>
    </div>
</section>

<div class="container mx-auto px-4 lg:w-[1700px]">

    <div class="grid grid-cols-2 lg:grid-cols-4 gap-6 mb-16 pt-2">
        <div class="bg-white p-4 text-center shadow-md h-24 flex items-center justify-center">
            <h3 class="text-lg font-semibold">周年纪念册设计</h3>
        </div>
        <div class="bg-white p-4 text-center shadow-md h-24 flex items-center justify-center">
            <h3 class="text-lg font-semibold">企业宣传册设计</h3>
        </div>
        <div class="bg-white p-4 text-center shadow-md h-24 flex items-center justify-center">
            <h3 class="text-lg font-semibold">产品画册设计</h3>
        </div>
        <div class="bg-white p-4 text-center shadow-md h-24 flex items-center justify-center">
            <h3 class="text-lg font-semibold">印刷制作</h3>
        </div>
    </div>

    {% block item %}


    <div class="grid grid-cols-1 lg:grid-cols-4 gap-8 mb-16">
        <div class="space-y-4 lg:col-span-3 grid grid-cols-3 gap-2">
            {%for child_page in news_all %}
            {% image child_page.image fill-400x300 as img %}
            <div class="p-6 col-span-1">
                <img src="{{ img.url }}" alt="{{ img.alt }}" class="w-full">
            </div>
            <div class="col-span-2">
                <p class="text-xl">{{ child_page.title }}</p>
                <div class="py-5">
                    {{ child_page.body | richtext }}
                </div>
                <button class="btn btn-sm"><a href="{% pageurl child_page %}">查看更多+</a></button>
            </div>
            {% endfor %}
        </div>
        <div class="bg-white p-8 rounded-lg lg:col-span-1 hidden sm:block">
            <h3 class="text-xl font-bold mb-4">热门推荐</h3>
            <hr class="my-8">
            {%for child_page in news_all %}
            <p class="text-gray-600 leading-relaxed">
                <a href="{% pageurl child_page %}" class="link link-hover">{{ child_page.title }}</a>
            </p>
            {% endfor %}
        </div>
    </div>

    {% endblock item %}

</div>

<section>
    <div class="container mx-auto grid grid-cols-1 lg:grid-cols-2 h-48 lg:w-[1700px]">
        <div class="text-center pt-20">
            <p class="text-[#08117e] text-2xl font-bold">选择专业，让您更高效</p>
            <p class="text-gray-500 uppercase tracking-wider">CHOOSE A MAJOR TO MAKE YOU MORE EFFICIENT</p>
        </div>
        <div class="pt-20 hidden sm:block">
            <p class="text-gray-700 mb-2">制作高端宣传册，请致电：</p>
            <p class="text-red-600 text-2xl font-bold mb-2">
                010-6292 4170 1368 355 5200</p>
            <p class="text-gray-700">即可获得专业顾问支持,将会得到贵宾级礼遇</p>
        </div>
    </div>
</section>

{% endblock content %}
