{% extends "home/news_page.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}


{% block extra_css %}
{% endblock extra_css %}

{% block item %}

<div class="grid grid-cols-4 gap-8 mb-16">
    <!-- 左侧案例展示 -->
    <div class="space-y-4 col-span-3">
        <h3 class="text-center text-lg font-bold">{{ page.title }}</h3>
        <div>
            {{ page.body | richtext }}
        </div>
    </div>

    <!-- 右侧项目描述 -->
    <div class="bg-white p-8 rounded-lg lg:col-span-1 hidden sm:block">
        <h3 class="text-xl font-bold mb-4">热门推荐</h3>
        <hr class="my-8">

        {%for child_page in news_all %}
        <p class="text-gray-600 leading-relaxed">
            <a href="{% pageurl child_page %}" class="link link-hover">{{ child_page.title }}</a>
        </p>
        {% endfor %}
    </div>
</div>
{% endblock item %}
