{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags %}

{% load wagtailimages_tags %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<!-- 标题区域 -->
<section class="bg-[#bed5ff] py-8">
    <div class="container mx-auto text-center h-96 flex justify-center items-center">
        <h2 class="text-2xl font-semibold text-[#1d2668]">为客户创造可持续价值,让客户的利益最大化</h2>
    </div>
</section>

<!-- 服务类型卡片 -->
<section class="py-16">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 text-[#08117e]">
            <div class="bg-[#F2E5DE] p-8  text-center cursor-pointer">
                <h3 class="text-lg mb-2">品牌整体规划</h3>
                <div class="w-12 h-0.5 bg-gray-400 mx-auto my-4"></div>
                <p class="text-xs">品牌定位策略、品牌文化梳理、品牌系统构建</p>
            </div>
            <div class="bg-[#F2E5DE] p-8  text-center cursor-pointer">
                <h3 class="text-lg mb-2">产品品牌设计</h3>
                <div class="w-12 h-0.5 bg-gray-400 mx-auto my-4"></div>
                <p class="text-xs">产品包装设计、产品形象设计、产品推广设计</p>
            </div>
            <div class="bg-[#F2E5DE] p-8  text-center cursor-pointer">
                <h3 class="text-lg mb-2">品牌整合传播</h3>
                <div class="w-12 h-0.5 bg-gray-400 mx-auto my-4"></div>
                <p class="text-xs">品牌推广设计、品牌活动设计、品牌空间设计</p>
            </div>
            <div class="bg-[#F2E5DE] p-8  text-center cursor-pointer">
                <h3 class="text-lg mb-2">会议手册设计</h3>
                <div class="w-12 h-0.5 bg-gray-400 mx-auto my-4"></div>
                <p class="text-xs">会议活动策划、活动文创开发、活展示搭建</p>
            </div>
        </div>
    </div>
</section>

<section class="py-4">
    <div class="container mx-auto px-4">
        <p class="text-lg md:text-xl lg:text-2xl font-bold mb-8 text-[#08117e]">金属品牌创意--国内领先的宣传策划与视觉设计公司</p>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-8">
            {% for child_page in items %}
            <div class="relative overflow-hidden">
                <a href="{% pageurl child_page %}">
                    {% image child_page.images.first.image fill-400x300 as img %}
                    <img src="{{ img.url }}" alt="{{ img.alt }}" class="w-full h-64 object-cover">
                    <div class="mt-4">
                        <h4 class="text-base font-medium text-gray-900">{{ child_page.title }}</h4>
                        <p class="text-sm text-gray-600 mt-1">
                            <span class="font-medium">所属行业:</span> {{ child_page.industry }}
                        </p>
                        <p class="text-sm text-gray-600 mt-1">
                            <span class="font-medium">服务内容:</span> {{ child_page.describe }}
                        </p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="bg-[#F2E5DE] py-12 hidden sm:block">
    <div class="container mx-auto text-center px-4 text-[#000080] ">
        <p class="text-xl mb-4">积极开展与具有百强企业合作，也全力协助新兴品牌崛起。</p>
        <div class="w-12 h-0.5 bg-gray-400 mx-auto my-4"></div>
        <p class="">1368 355 5200 / 010-62924170</p>
    </div>
</section>

<section class="lg:hidden block bg-[#f0d1c6]">
    <div class="container mx-auto grid grid-cols-1 lg:grid-cols-2 h-48">
        <div class="text-center pt-20">
            <p class="text-[#08117e] text-2xl font-bold">选择专业，让您更高效</p>
            <p class="text-gray-500 uppercase tracking-wider">CHOOSE A MAJOR TO MAKE YOU MORE EFFICIENT</p>
        </div>
    </div>
</section>

{% endblock content %}
