{% load static wagtailcore_tags wagtailimages_tags %}

<footer class="bg-blue-900 py-4 bg-[#20256d]">
    <div class="container mx-auto px-4 text-white lg:hidden block">
        <div class="grid grid-cols-2">
            <div class="col-span-2">
                {% image contact_us_page.qrcode_image fill-200x200 as img %}
                <img src=" {{ img.url }}" alt="{{ img.alt }}" class="w-full">
            </div>
            <div class="">
                <p class="text-xl font-bold mb-4">金属品牌创意</p>
                <p class="text-2xl font-bold mb-2">JINACD BRAND</p>
                <p class="mb-2">咨询电话 (TEL)</p>
                <p class="mb-2">{{ contact_us_page.tel }}</p>
                <p class="mb-2">{{ contact_us_page.mobile }}</p>
                <p class="mb-2">{{ contact_us_page.addr }}</p>
                <p class="mb-2">E-mail: {{ contact_us_page.email }}</p>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-4 text-white hidden sm:block">
        <p class="text-xl font-bold mb-4">金属品牌创意</p>
        <div class="grid grid-cols-2">
            <div>
                <p class="text-2xl font-bold mb-2">JINACD BRAND</p>
                <div class="grid grid-cols-5">
                    <div class="h-64 col-span-2">
                        {% image contact_us_page.qrcode_image fill-300x300 as img %}
                        <img src=" {{ img.url }}" alt="{{ img.alt }}" class="h-full">
                    </div>
                    <div class="col-span-3">
                        <p class="mb-2">咨询电话 (TEL)</p>
                        <p class="mb-2">{{ contact_us_page.tel }}</p>
                        <p class="mb-2">{{ contact_us_page.mobile }}</p>
                    </div>
                </div>
                <p class="mb-2">{{ contact_us_page.addr }}</p>
                <p class="mb-2">E-mail: {{ contact_us_page.email }}</p>
            </div>
            <div>
                <div class="grid grid-cols-1 md:grid-cols-4">
                    <div class="">
                        <h4 class="text-lg font-semibold mb-4">
                            {% if industry_cases_page %}
                            <a href="{% pageurl industry_cases_page %}">行业案例</a>
                            {% else %}
                            <a>行业案例</a>
                            {% endif %}

                        </h4>

                        <ul class="space-y-2">
                            <li>智能科技板块</li>
                            <li>政府事业单位</li>
                            <li>医疗美容健康</li>
                            <li>建筑工程设施</li>
                            <li>航空运输交通</li>
                            <li>投资金融咨询</li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="text-lg font-semibold mb-4">
                            {% if copywriter_page %}
                            <a href="{% pageurl copywriter_page %}">文案策划</a>
                            {% else %}
                            <a>文案策划</a>
                            {% endif %}
                        </h4>
                        <ul class="space-y-2">
                            <li>会议策划</li>
                            <li>会议主题</li>
                            <li>会场物料制作</li>
                            <li>会议背景板</li>
                            <li>纪念册设计</li>
                            <li>纪念展览定制</li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="text-lg font-semibold mb-4">
                            {% if brand_design_page %}
                            <a href="{% pageurl brand_design_page %}">品牌设计</a>
                            {% else %}
                            <a>品牌设计</a>
                            {% endif %}
                        </h4>
                        <ul class="space-y-2">
                            <li>LOGO/VI设计</li>
                            <li>VI-应用系统设计</li>
                            <li>宣传册设计</li>
                            <li>企业画册设计</li>
                            <li>周年纪念册设计</li>
                            <li>施工画册设计</li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="text-lg font-semibold mb-4">
                            {% if meeting_planning_page %}
                            <a href="{% pageurl meeting_planning_page %}">会议策划</a>
                            {% else %}
                            <a>会议策划</a>
                            {% endif %}
                        </h4>
                        <ul class="space-y-2">
                            <li>会议策划</li>
                            <li>会议主题</li>
                            <li>会场物料制作</li>
                            <li>会议背景板</li>
                            <li>纪念册设计</li>
                            <li>纪念展览定制</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto text-white">
        <hr class="my-8">
        <p class="text-sm text-gray-400 p-3">
            友情链接：行业案例 | 金属画册设计 | 企业画册设计 <br>
            服务城市：深圳 北京 上海 广州 天津 重庆 昆明 石家庄 武汉 长沙 郑州 南京 西安 福州 无锡 青岛 <br>
            北京金属画册设计15年品牌服务经验与设计经验，作为专业的画册设计公司，上市、企业画册设计、公司画册设计、周年庆典、企业画册、周年画册设计、全方位服务，根据画面参考多家设计案例作为参考，致力于帮您品牌做得好。 <br>
            Copyright © 2019-2024 All 权利 ICP备案19022228号
        </p>
    </div>
</footer>
