{% load wagtailcore_tags %}
<div class="navbar bg-base-100 w-full bg-[#fffff]">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl" href="/">G-EAGLE BRAND</a>
    </div>
    <div class="flex-none text-[#1d2668]">
        <ul class="menu menu-horizontal px-1">
            <li><a href="/">首页</a></li>

            {% if works_cases_page %}
            <li><a href="{% pageurl works_cases_page %}">作品案例</a></li>
            {% else %}
            <li><a>作品案例</a></li>
            {% endif %}

            {% if news_page %}
            <li><a href="{% pageurl news_page %}">新闻动态</a></li>
            {% else %}
            <li><a>新闻动态</a></li>
            {% endif %}


            {% if about_page %}
            <li><a href="{% pageurl about_page %}">关于我们</a></li>
            {% else %}
            <li><a>关于我们</a></li>
            {% endif %}


            {% if contact_us_page %}
            <li><a href="{% pageurl contact_us_page %}">联系我们</a></li>
            {% else %}
            <li><a>联系我们</a></li>
            {% endif %}


            <li><a>电话: 010-6292-4170 / 1368355500</a></li>
        </ul>
    </div>
</div>
